<!DOCTYPE html>

<html ng-app="notepadApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='styles/main.css' media='all' rel='stylesheet'>
        <script src="scripts/modernizr.min.js"></script>
    </head>

    <body ng-controller="appCtrl as ctrl">
        <div class="notepad-fixed-sidebar-container ">
            <div class="notepad-container">
                <notes-list class="sidebar"
                            ng-class="{active: ctrl.sideBarOpen}">
                </notes-list>
                <div class="sidebar-button" ng-click="ctrl.toggleSideBar()">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="notepad-content">
                    <div class="alert-bar" ng-if="ctrl.localStorageError">
                        <i class="fa fa-exclamation-circle"></i>
                        <span>Local Storage is not available. Notes will only be available during the current session.</span>
                    </div>
                    <textarea id="note"
                              ng-model="ctrl.selectedNote.content"
                              placeholder="Type a note...">
                    </textarea>
                </div>
                <button class="btn-action btn-new-note" ng-click="ctrl.createNote()">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
        </div>

        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-route.min.js"></script>
        <script src="scripts/angular-animate.min.js"></script>
        <script src="scripts/angular-sanitize.min.js"></script>
        <script src="scripts/angular-local-storage.min.js"></script>
        <script src="notes.service.js"></script>
        <script src="notesList/notesList.directive.js"></script>
        <script src="app.js"></script>
        <script src="app.controller.js"></script>
    </body>
</html>
