<div>
    <div class="sidebar-title">
        <div>Notes</div>
        <div>
            <input class="input-search"
                   type="text"
                   ng-model="search.content"
                   placeholder="search"/>
        </div>
    </div>
    <nav class="sidebar-list">
        <a class="sidebar-list-item"
           ng-class="{active: vm.selected === $index}"
           ng-repeat="note in vm.notes | filter:search track by $index "
           ng-click="vm.selectNote($index, note)">
            <div class="list-item-title">
                <strong>{{note.title}}</strong>
            </div>
            <div>{{note.modified | date:'medium' }}</div>
            <div class="close" ng-click="vm.removeNote($index)">
                <i class="fa fa-times-circle-o"></i>
            </div>
        </a>
        <div class="sidebar-list-empty" ng-if="!vm.notes.length">
            No saved notes
        </div>
    </nav>
</div>
