html, body {
    font: normal 400 14px 'Roboto','Helvetica','Arial',sans-serif !important;
    margin: 0;
    padding: 0;
}

html > body {
    background-color: #FAFAFA;
}

input[type=text] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 5px;
    width: 100%;
}

.search-input {
    padding-left: 30px ;
}

.alert-bar {
    border: 0;
    padding: 20px;
}

.notepad-fixed-sidebar-container {
    height: 100%;
    position: absolute;
    width: 100%;
}

.notepad-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.notepad-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform .5s ease;
    -moz-transition: -moz-transform .5s ease;
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    height: 100%;
    margin-left: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    transition: transform .5s ease;
    width: 100%;
}

.notepad-content > textarea {
    border-top: 0;
    box-sizing: border-box;
    font: normal 100 1.5rem 'Roboto','Helvetica','Arial',sans-serif;
    height: 100%;
    outline: 0;
    padding: 40px 20px;
    resize: none;
    width: 100%;
}

.sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-transition: -webkit-transform .5s ease;
    -moz-transition: -moz-transform .5s ease;
    background: #fafafa;
    border: 1px solid darkgrey;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: transform .5s ease;
    width: 240px;
    will-change: transform;
    z-index: 2;
}

.sidebar.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.sidebar-title {
    border-bottom: 1px solid darkgray;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 10px;
}

.sidebar-list > .sidebar-list-item {
    display: block;
    padding: 20px;
    position: relative;
}

.sidebar-list-item.active,
.sidebar-list-item.active:hover {
    background: rgba(51, 102, 153, 0.7);
    color: #eaeaea;
}

.sidebar-list-item:hover .close {
    display: block;
}

.sidebar-list-item .close {
    display: none;
    color: #eaeaea;
    font-size: 1.7rem;
    line-height: 0;
    margin-top: -22px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 50%;
}

.sidebar-list-item .list-item-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}

.sidebar-list-empty {
    padding: 20px;
    text-align: center;

}

.sidebar-list > .sidebar-list-item:hover .close:hover {
        color: #c4c4c4;
}

.sidebar-list-item:hover {
    background: rgba(51, 102, 153, 0.7);
    color: #eaeaea;
    cursor: pointer;
}

.sidebar-list-item+.sidebar-list-item {
    border-top: 1px solid darkgray;
}

.sidebar-list-item:last-child {
    border-bottom: 1px solid darkgray;
}

.sidebar-button {
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    height: 30px;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 1;
}

.btn-action {
    -webkit-appearance: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    background: #c0c0c0;
    border: 0;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0px 6px 6px 1px #eaeaea;
    cursor: pointer;
    font-size: 1.5rem;
    height: 45px;
    margin: 20px;
    outline: 0;
    position: absolute;
    right: 0;
    transition: all .2s ease;
    width: 45px;
}

.btn-action:hover {
    background: #cdcdcd;
}

.btn-action:active {
    background: #c4c4c4;
    box-shadow: 0px 2px 2px 1px #eaeaea;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
}

.btn-action.btn-new-note {
    color: #336699;
}

/* media queries */

@media screen and (max-width: 1024px) {
    .sidebar {
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    .notepad-content {
        margin-left: 0;
    }
}

@media screen and (min-width: 1025px) {
    .sidebar {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .sidebar-button {
        display: none;
        transition-delay: .5s;
    }
}
